body {
  background-color: #a6dcef;
}

.info {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}

.btn {
  cursor: pointer;
}

h1 {
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px 2px #0b0b0b;
  text-align: center;
  transition: color 0.5s ease-in-out;
  border-bottom: 2px solid #0b0b0b;
}
