body {
  background-color: black;
}

h1 {
  color: #ffffff;
  font-size: 100px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  transition: color 0.5s ease-in-out;
  border-bottom: 2px solid black;
}
